<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- views/partials/head.ejs -->
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#000000" />
    <meta property="og:url" content="https://airsharebetatest.herokuapp.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="AIRSHARE" />
    <meta
      property="og:description"
      content="<%= username %> shared  <%= title %>"
    />
    <meta name="description" content="<%= username %> shared  <%= title %>" />
    <meta name="subject" content="AIRSHARE" />

    <meta name="url" content="https://airsharebetatest.herokuapp.com" />
    <meta
      property="og:image"
      content="https://res.cloudinary.com/dijjqfsto/image/upload/v1576417849/share_rfdykh.png"
    />
    <meta property="og:locale" content="si_LK" />
    <title><%= title %></title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <style>
      body {
        padding-top: 50px;
      }
    </style>
  </head>
  <body class="container">
    <header>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a
              class="navbar-brand"
              href="https://airsharebetatest.herokuapp.com"
            >
              <img src="https://img.icons8.com/nolan/32/000000/share.png" />
              AIRSHARE
            </a>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="jumbotron">
        <h3>Enter file url to download</h3>

        <input type="text" id="down-url" />

        <button onclick="download()" type="button">submit</button>

        <br />
        <h3><%= size %></h3>

        <div id="resources">
          <!-- <a href="http://" target="_blank"></a> -->
        </div>

        <!-- <p>
          <a href="<%= resurl %>" class="btn btn-primary" role="button"
            >Download</a
          >
        </p> -->
      </div>
    </main>

    <footer>
      <!-- views/partials/footer.ejs -->
      <p class="text-center text-muted">© Copyright 2019 AIRSHARE.inc</p>
    </footer>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script>
    var socket = io();

    function download() {
      console.log("submit");

      var url = document.getElementById("down-url").value;

      var obj = {
        urltodown: url
      };

      console.log(url);

      fetch("/remotetorrent/download", {
        method: "POST",
        body: JSON.stringify(obj),
        headers: {
          "Content-Type": "application/json"
          // 'Content-Type': 'application/x-www-form-urlencoded',
        }
      })
        .then(result => {
          return result.json();
        })
        .then(json => {
          console.log(json);

          socket.on("downloadprogress" + json.uuid, function(msg) {
            console.log(msg);
          });

          socket.on("downloaded" + json.uuid, function(msg) {
            console.log(msg);
            console.log("downloaded");

            var str = "";

            msg.path.forEach(element => {
              str =
                str +
                ` <a  href="${element.filepath}" target="_blank" >${element.name}</a>  <br></br>`;
            });

            document.getElementById("resources").innerHTML = str;
          });
        })
        .catch(err => {
          console.log(err);
        });
    }
  </script>
</html>
